body {
    font-family: 'Maza', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1360px;
}

.margin-0 {
    margin: 0;
}

.mr {
    margin-right: 6px;
}